* {
  box-sizing: border-box;
}

:root {
  --base: #f0d87f;
  --spacing: 20px;
  --blur: 0px;
}

.outer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 130%;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  height: 550px;
  width: 700px;
  background-size: contain;
}

body {
  display: flex;
  width: 100%;
  height: 130%;
  align-items: center;
  background: #0c6cb1;
  font-size: 50px;
  margin: 40px 10px;
}

.right {
  border: 0.75em solid var(--base);
  display: inline-block;
  justify-content: space-between;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 500;
  font-size: large;
  color: #44a2ce;
  text-align: center;
}

.left {
  border: 0.75em solid var(--base);
  display: inline-block;
  justify-content: space-between;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 500;
  font-size: large;
  color: #44a2ce;
  text-align: center;
}
